<template>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <!-- The mobile navbar-toggle button can be safely removed since you do not need it in a non-responsive implementation -->
          <a class="navbar-brand" href="#">Alih Bahasa</a>
        </div>
        <!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
        <div id="navbar">
          <ul class="nav navbar-nav">
            <li>
                <nuxt-link :to="'/?lang='+this.$store.state.locale">{{$t('links.home')}}</nuxt-link>
            </li>
            <li>
                <nuxt-link :to="'/about?lang='+this.$store.state.locale">{{$t('links.about')}}</nuxt-link>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ganti Bahasa <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(1);" @click="setLang('id')">Indonesia</a></li>
                <li><a href="javascript:void(1);" @click="setLang('en')">English</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</template>
<script>
export default {
  methods: {
      setLang(lang) {
          // ubah nilai state bahasa
        this.$store.commit('SET_LANG',lang)
        //set ulang router dgn menambahkan query string lang berdasarkan lang yang dipilih
        this.$router.push({ path: `${this.$router.currentRoute.path}?lang=${lang}` })
      }
  }
}
</script>
