<template>
  <div>     
    <Navbar></Navbar>
    <div class="container">
      <nuxt/>
    </div>
  </div>
</template>
<script>
import Navbar from '~/components/navbar.vue'

export default {
  components: {
    Navbar
  }
}
</script>
<style>
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
</style>
