<template>
  <div>

    <div class="starter-template">
      <h1>{{$t('pages.home')}}</h1>
      <p class="lead">Ini Konten mah tetep, yang diubah cuma menu dan judul halaman saja ~</p>
    </div>

  </div>
</template>